@use "./util" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #1d2532;
}

a,
li {
  color: unset;
  text-decoration: none;
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  font-family: $font-gt-walsheim-pro;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #242424;
  padding: 15px 24px 15px 24px;
  max-width: 300px;
  width: 100%;
  height: 51px;
  background-image: linear-gradient(92.84deg, #1dd844 1.44%, #cbf62e 126.29%);
  box-shadow: 0px 0px 15px #1dd844;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 40px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  border: none;

  &:hover {
    box-shadow: 0px 0px 25px #1dd844;
  }
}

.btn-secondary {
  font-family: $font-inter;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 15px 24px 15px 24px;
  max-width: 300px;
  width: 100%;
  background: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 90px;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    color: #c3f33b;
    border: 1px solid #c3f33b;
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.scale-up {
  -webkit-animation: scale-up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.opacity-up {
  -webkit-animation: opacity-up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: opacity-up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes opacity-up {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
